<h4 class="o-type__title">Mark</h4>

<p>Use the <code>&lt;mark&gt;</code> element to <mark>highlight</mark> text.</p>

<h4 class="o-type__title">Strikethrough and deleted</h4>

<p>
	Use the <code><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s">&lt;s&gt;</a></code>
	element to render text with a <s>strikethrough</s> to represent things that are no
	longer relevant or no longer accurate. The <code>&lt;s&gt;</code> element should not be used to
	indicate document edits; instead, use the <code>&lt;del&gt;</code> and <code>&lt;ins&gt;</code> elements.
</p>

<h4 class="o-type__title">Document edits</h4>

<p>
	Use the <code><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del">&lt;del&gt;</a></code>
	and <code><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins">&lt;ins&gt;</a></code>
	elements to indicate document edits. Use the <code>&lt;del&gt;</code> element to indicate
	<del>text that has been deleted</del> from a document, and use the <code>&lt;ins&gt;</code>
	element to indicate <ins>text that has been inserted</ins> into a document.
</p>

<h4 class="o-type__title">Subscript and superscript</h4>

<p>
	Use the <code><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sub">&lt;sub&gt;</a></code>
	and <code><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sup">&lt;sup&gt;</a></code>
	elements to style text that should appear <sub>below</sub> or <sup>above</sup> the surrounding text, as in
	mathematical equations or footnote indicators.
</p>

<h4 class="o-type__title">Small</h4>

<p>
	Use the <code><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small">&lt;small&gt;</a></code>
	element to represent side comments and small print, such as <small>footnotes</small> and <small>copyright notices</small>.
</p>

<h4 class="o-type__title">Quote</h4>

<p>
	Use the <code><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q">&lt;q&gt;</a></code>
	element to indicate an inline quote: Aristotle said, <q>It is the mark of an educated mind to be able to
	entertain a thought without accepting it.</q>
</p>
