<h4 class="o-type__title">Primary labels</h4>

<label class="o-type__label">Default label</label>
<label class="o-type__label o-type__label--small">Small label</label>
<label class="o-type__label o-type__label--large">Large label</label>
<label class="o-type__label o-type__label--bold">Bold label</label>

<h4 class="o-type__title">Secondary labels</h4>

<label class="o-type__label o-type__label--secondary">Secondary label</label>
<label class="o-type__label o-type__label--secondary o-type__label--small">Small secondary label</label>
<label class="o-type__label o-type__label--secondary o-type__label--large">Large secondary label</label>
<label class="o-type__label o-type__label--secondary o-type__label--bold">Bold secondary label</label>

<h4 class="o-type__title">Inverse</h4>

<h5 class="o-type__label--large">Primary labels</h5>

<label class="o-type__label o-type__label--inverse demo-inverse">Inverse label</label>
<label class="o-type__label o-type__label--inverse o-type__label--small demo-inverse">Small inverse label</label>
<label class="o-type__label o-type__label--inverse o-type__label--large demo-inverse">Large inverse label</label>
<label class="o-type__label o-type__label--inverse o-type__label--bold demo-inverse">Bold inverse label</label>

<h5 class="o-type__label--large">Secondary labels</h5>

<label class="o-type__label o-type__label--secondary o-type__label--inverse demo-inverse">Inverse secondary label</label>
<label class="o-type__label o-type__label--secondary o-type__label--inverse o-type__label--small demo-inverse">Small inverse secondary label</label>
<label class="o-type__label o-type__label--secondary o-type__label--inverse o-type__label--large demo-inverse">Large inverse secondary label</label>
<label class="o-type__label o-type__label--secondary o-type__label--inverse o-type__label--bold demo-inverse">Bold inverse secondary label</label>
