<h4 class="o-type__title">Primary labels</h4>

<label class="o-type__label">Default label</label>
<label class="o-type__label o-type__label--small">Small label</label>
<label class="o-type__label o-type__label--large">Large label</label>
<label class="o-type__label o-type__label--bold">Bold label</label>

<h4 class="o-type__title">Secondary labels</h4>

<label class="o-type__label o-type__label--secondary">Secondary label</label>
<label class="o-type__label o-type__label--secondary o-type__label--small">Small label</label>
<label class="o-type__label o-type__label--secondary o-type__label--large">Large label</label>
<label class="o-type__label o-type__label--secondary o-type__label--bold">Bold label</label>
