<article>
	<h1 class="o-type__title">Lead paragraph</h1>
	<p class="o-type__lead">
		An article may open with a lead paragraph that precedes the main
		body of the article. It gives the reader the main idea of the story.
	</p>
	<p>In this example, this is the main body of the article.</p>
</article>
<article>
	<h1 class="o-type__title">Lead sentence</h1>
	<p>
		<span class="o-type__lead">
			A paragraph may also begin with a lead
			sentence that captures the reader's attention.
		</span>
		The lead sets tone and guides the reader into the article or content.
	</p>
</article>
