<article>
	<h1 class="o-type__title">Lead</h1>
	<p class="o-type__lead">
		An article may open with a lead paragraph that precedes the main
		body of the article. It gives the reader the main idea of the story.
	</p>
	<p>In this example, this is the main body of the article.</p>
</article>
