<h4 class="o-type__title">Default lead</h4>
<div class="o-type__lead">Faded construct jeans systemic beef noodles table corporation ablative industrial grade.</div>

<h4 class="o-type__title">Small lead</h4>
<div class="o-type__lead o-type__lead--small">Silent motion girl cardboard augmented reality RAF tattoo uplink physical industrial table.</div>
