@mixin o-type-make-selector($element, $modifier) {
	$_state: (hover, focus, active, visited);
	$_pseudo-element: (before, after);
	$_modifier-formatted: null;

	@if index($_state, $modifier) {
		$_modifier-formatted: ":#{$modifier}";
	} @else if index($_pseudo-element, $modifier) {
		$_modifier-formatted: "::#{$modifier}";
	} @else {
		$_modifier-formatted: if($modifier != default, --#{$modifier}, null);
	}

	.o-type__#{$element}#{$_modifier-formatted} {
		@include o-type-font($element, $modifier);
	}
}

@if not $o-type-is-silent {
	@each $_element, $_props-map in $o-type-font-props {
		@each $_modifier, $_props in $_props-map {
			@include o-type-make-selector($_element, $_modifier);
		}
	}

	// Inverse labels
	.o-type__label--inverse {
		&.o-type__label {
			color: $o-type-text-color-inverse;
		}

		&.o-type__label--secondary {
			color: $o-type-secondary-text-color-inverse;
		}
	}
}
