////
/// @group o-type
/// @link https://origami.pearsoned.com/registry/components/o-type
////

// Silent mode
$o-type-is-silent: false !default;

// If true, default UA styles will be overridden
$o-type-scaffold: true !default;

$o-type-font-familes: (
	sans-serif-default: ('Helvetica Neue', Helvetica Arial, sans-serif)
);

$o-type-font-size-base: 16px !default;
$o-type-font-size-default: 0.875rem !default;
$o-type-font-size-sm: 0.8125rem !default;
$o-type-font-size-lg: 1rem !default;

$o-type-text-color: #000000 !default;
$o-type-text-color-inverse: #ffffff !default;
$o-type-secondary-text-color: #676767 !default;
$o-type-secondary-text-color-inverse: #aeaeae !default;


// Links
$o-type-link-text-props: (
	default: (
		all: (color: #0d65a6, text-decoration: underline)
	),
	hover: (
		all: (color: #094877, text-decoration: none)
	),
	active: (
		all: (color: #094877, text-decoration: none)
	),
	focus: (
		all: (color: #094877, text-decoration: none)
	)
);

// Titles
$o-type-title-text-props: (
	default: (
		all: (color: $o-type-text-color, font-weight: bold),
		xs: (font-size: 1.375rem, line-height: 1.75rem),
		sm: (font-size: 1.125rem, line-height: 1.375rem)
	),
	large: (
		xs: (font-size: 1.5rem, line-height: 1.875rem),
		sm: (font-size: 1.25rem, line-height: 1.5rem)
	),
	extra-large: (
		xs: (font-size: 1.875rem, line-height: 2.25rem),
		sm: (font-size: 1.375rem, line-height: 1.75rem)
	)
);

// Labels
$o-type-label-text-props: (
	default: (
		all: (color: $o-type-text-color, font-weight: normal, font-size: $o-type-font-size-default, line-height: 1rem)
	),
	small: (
		all: (font-size: $o-type-font-size-sm, line-height: 0.9375rem)
	),
	large: (
		all: (font-size: $o-type-font-size-lg, line-height: 1.125rem)
	),
	bold: (
		all: (font-weight: bold, font-size: $o-type-font-size-default, line-height: 1rem)
	),
	secondary: (
		all: (color: $o-type-secondary-text-color)
	)
);

// Leads
$o-type-lead-text-props: (
	default: (
		all: (color: #231f20, font-weight: 200, font-size: 1.25rem, line-height: 1.75rem)
	),
	small: (
		all: (font-size: 1.125rem, line-height: 1.5rem)
	)
);

// Copy
$o-type-copy-text-props: (
	default: (
		all: (color: #231f20, font-size: 1rem, line-height: 1.375rem)
	)
);

// Inline text
$o-type-small-text-props: (
	default: (
		all: (font-weight: normal, font-size: $o-type-font-size-default * 0.9, line-height: 1rem)
	)
);

$o-type-mark-text-props: (
	default: (
		all: (background-color: #fdec2e)
	)
);

$o-type-strikethrough-text-props: (
	default: (
		all: (color: $o-type-secondary-text-color)
	)
);

$o-type-insert-text-props: (
	default: (),
	before: (
		all: (content: '+')
	),
	after: (
		all: (content: '+')
	)
);

$o-type-subscript-text-props: (
	default: (
		all: (position: relative, vertical-align: baseline, top: 0.2em, font-size: 90%)
	)
);

$o-type-superscript-text-props: (
	default: (
		all: (position: relative, vertical-align: baseline, top: -0.2em, font-size: 90%)
	)
);

// All font properties
$o-type-text-props: (
	link: $o-type-link-text-props,
	title: $o-type-title-text-props,
	label: $o-type-label-text-props,
	lead: $o-type-lead-text-props,
	copy: $o-type-copy-text-props,
	small: $o-type-small-text-props,
	mark: $o-type-mark-text-props,
	strikethrough: $o-type-strikethrough-text-props,
	insert: $o-type-insert-text-props,
	subscript: $o-type-subscript-text-props,
	superscript: $o-type-superscript-text-props
);
